*{
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}

body{
	margin: 0px;
	padding: 0px;
}

.wrapper{
	font-size: 15px;
	width:1100px;
	margin: auto;
	position: relative;
}

.logo a{
	font-size: 50px;
	font-weight: 800;
	float: left;
	font-family: cooper black;
	color: #FFEDDB;
}

.menu {
	float: right;
}

nav{
	width:  100%;
	margin:  auto;
	display:  flex;
	position: relative;
	line-height:  120px;
	top: 0;
	background: #BF9270;
}

nav ul{
	list-style-tape:  none;
	margin:  0;
	padding:  0;
	overflow:  hidden;
}

nav ul li{
	float:  left;
}

nav ul li{
	float:  left;
}

nav ul li a{
	color: #FFEDDB;
	font-weight:  bold;
	text-align:  center;
	padding: 10px 15px 10px 15px;
	text-decoration: none;
}

nav ul li a:hover{
	text-decoration: underline;
	border-radius: 20px;
	margin-top: 20px;
	padding: 10px 15px 10px 15px;
	background-color: #FFEDDB;
	color: #BF9270;	
}

section{
	margin:  auto;
	text-align: center;
	display: flex;
	margin-bottom:  50px;
}

.kolom{
	margin-top: 100px;
	text-align: center;
	width: 100%;
}

.kolom img{
	width: 20%;
	border-width: 12px;
	text-align: center;
	border-style:solid;
	border-color: #BF9270; 
	position: relative;
	float: left;
	margin-right: 30px;
}

.kolom h2{
	font-family: cooper black;
	font-weight: 900;
	font-size: 50px;
	text-decoration: underline;
	position: relative;
	margin-bottom:  20px;
	color:rgb(101, 56, 22);

}

.kolom h3{
	font-family: 'comic sans ms';
	font-weight: 300;
	font-size: 20px;
	position: relative;
	text-align: center;
	margin: auto;
	color:#BF9270;
}

.tengah{
	text-align: center;
	width: 100%;
}

.tengah h2{
	font-family: cooper black;
	font-weight: 900;
	font-size: 50px;
	text-decoration: underline;
	position: relative;
	margin-bottom:  10px;
	color:rgb(101, 56, 22);

}

.tengah p{
	font-family: 'comic sans ms';
	font-weight: 300;
	font-size: 20px;
	position: relative;
	text-align: center;
	margin: 10px 60px 60px 60px;
	color:#BF9270;
}

.uptlist {
	text-align: center;
	width:  100%;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin-top: -10px;
}

.pendidikan p{
	margin-bottom: 20px;
}

.pendidikan h2{
	margin-top: 30px;
}

.listedu {
	width: 20%;
	margin: 0 auto;
}

.listedu img{
	width: 50%;
	border-width: none;
	text-align: center;
	margin-top: -50px;
}
.listedu h1 {
	font-family: 'comic sans ms';
	font-weight: 1000;
	font-size: 20px;
	text-align: center;
	color: rgb(101, 56, 22);
	margin-top: 10px;
}

.listedu a{
	text-align: center;
	text-decoration: none;
	font-size: 10px;
	border-radius: 10px;
	margin-top: 10px;
	padding: 5px 10px 5px 10px;
	background-color:#E3B7A0 ;
	color: rgb(151, 106, 72) ;
}

.listedu a:hover {
	text-align: center;
	text-decoration: none;
	font-size: 10px;
	border-radius: 10px;
	margin-top: 10px;
	padding: 5px 10px 5px 10px;
	background-color:#BF9270 ;
	color:#FFEDDB ;
}

.listedu p{
	font-family: 'comic sans ms';
	font-weight: 800;
	font-size: 15px;
	font-style: italic;
	text-align: center;
	position: relative;
	color: rgb(161, 116, 82);
}

.tabel{
	text-align: center;
	position: relative;
	margin: auto;
}

TH {
	text-align: center;
	position: relative;
	color : #FFFFFF; background-color : #BF9270; border-width:5 px;
	font-size: 15pt;
}

TD {
	position: relative;
	color : brown;
	background-color: #EDCDBB;
	border-width: 1px;
	text-align: center;
	border-style:solid; 
	border-color: rosybrown; 
	font-size: 12pt;
}

.watermark{	
	text-align: center;
	width: 100%;
}

.watermark h2{
	font-family: cooper black;
	font-weight: 300;
	font-size: 20px;
	font-style: italic;
	position: relative;
	margin-top: -40px;
	color:rgb(141, 96, 62);
}

.activity{
	text-align: center;
	width: 100%;
}

.activity h2{
	font-family: cooper black;
	font-weight: 900;
	font-size: 50px;
	text-decoration: underline;
	position: relative;
	margin-top: 50px;
	margin-bottom:  50px;
	color:rgb(101, 56, 22);

}

.activity h3{
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	border-radius: 15px;
	margin-top: 15px;
	padding: 10px 15px 10px 15px;
	background-color: #BF9270;
	color: #FFEDDB;
}

.tentangsaya{
	text-align: left;
	width: 100%;
	float: left;
	border-radius: 10px;
	padding: 10px 15px 10px 15px;
	background-color: #BF9270;
	color: #FFEDDB;
	margin-top: 100px;
	margin-bottom: 100px;
}

.tentangsaya p{
	font-family: 'comic sans ms';
	font-weight: 300;
	font-size: 20px;
	position: relative;
	text-align: left;
	margin:  auto;
	color:#FFFFFF;
}


.fotosaya h2{
	font-family: cooper black;
	font-weight: 900;
	font-size: 50px;
	text-decoration: underline;
	position: relative;
	margin-top: 10px;
	margin-bottom:  10px;
	color:rgb(101, 56, 22);
}

.fotosaya img{
	width: 45%;
	border-width: 12px;
	text-align: center;
	border-style:solid;
	border-color: #BF9270; 
	margin-top: 10px;
	margin-bottom: -30px;
}

.karyaku{
	text-align: center;
	width: 100%;
	float: right;
	margin-top: -30px;
}

.karyaku h2{
	font-family: cooper black;
	font-weight: 900;
	font-size: 50px;
	text-decoration: underline;
	position: relative;
	margin-top: -20px;
	margin-bottom:  10px;
	color:rgb(101, 56, 22);

}

.karyaku a{
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	border-radius: 10px;
	margin-top: 10px;
	padding: 5px 10px 5px 10px;
	background-color:#E3B7A0 ;
	color: rgb(151, 106, 72) ;
}

.karyaku a:hover {
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	border-radius: 10px;
	margin-top: 10px;
	padding: 5px 10px 5px 10px;
	background-color:#BF9270 ;
	color:#FFEDDB ;
}

.myart{
	text-align: center;
	width: 100%;
}

.myart h2{
	font-family: cooper black;
	font-weight: 900;
	font-size: 50px;
	text-decoration: underline;
	position: relative;
	margin-bottom:  10px;
	color:rgb(101, 56, 22);

}

.myart p{
	font-family: 'comic sans ms';
	font-weight: 300;
	font-size: 17px;
	position: relative;
	text-align: center;
	margin: 10px 60px 60px 60px;
	color:#BF9270;
}

.myart a{
	text-align: center;
	text-decoration: bold;
	font-size: 20px;
	border-radius: 10px;
	margin-top: -10px;
	padding: 5px 10px 5px 10px;
	background-color:#E3B7A0 ;
	color: rgb(151, 106, 72) ;
}

.myart a:hover {
	text-align: center;
	text-decoration: bold;
	font-size: 20px;
	border-radius: 10px;
	margin-top: 10px;
	padding: 5px 10px 5px 10px;
	background-color:#BF9270 ;
	color:#FFEDDB ;
}

.myarts p{
	margin-bottom: 0px;
	font-size: 7px;
}
.myarts {
	text-align: center;
	width:  100%;
	position: relative;
	display: flex;
	flex-wrap: wrap;
}

.karya {
	width: 80%;
	margin: 0 auto;
}

.karya img{
	width: 20%;
	border-width: none;
	text-align: center;
	position: relative;
}
.karya h1 {
	font-family: 'comic sans ms';
	font-weight: 1000;
	font-size: 20px;
	text-align: center;
	color: rgb(101, 56, 22);
}

.karya a{
	text-align: center;
	text-decoration: none;
	position: relative;
	font-size: 10px;
	border-radius: 10px;
	margin-top: 10px;
	padding: 5px 10px 5px 10px;
	background-color:#E3B7A0 ;
	color: rgb(151, 106, 72) ;
}

.karya a:hover {
	text-align: center;
	text-decoration: none;
	font-size: 10px;
	border-radius: 10px;
	margin-top: 10px;
	padding: 5px 10px 5px 10px;
	background-color:#BF9270 ;
	color:#FFEDDB ;
}

.karya p{
	font-family: 'comic sans ms';
	font-weight: 800;
	font-size: 15px;
	font-style: italic;
	text-align: center;
	position: relative;
	color: rgb(161, 116, 82);
}

.listart {
	margin-top: 10px;
}

.comment{
	text-align: center;
	width: 100%;
}

.comment h2{
	font-family: cooper black;
	font-weight: 900;
	font-size: 50px;
	text-decoration: underline;
	position: relative;
	margin-top: 30px;
	margin-bottom:  20px;
	color:rgb(101, 56, 22);
}

.comment a{
	text-align: center;
	font-style: oblique;
	font-weight: 300;
	position: relative;
	font-size: 10px;
	font-weight: bold;
	border-radius: 10px;
	padding: 5px 10px 5px 10px;
	background-color:#E3B7A0 ;
	color: rgb(151, 106, 72) ;
}

.comment a:hover {
	text-align: center;
	text-decoration: none;
	font-size: 10px;
	font-weight: bold;
	border-radius: 10px;
	margin-top: 10px;
	padding: 5px 10px 5px 10px;
	background-color:#BF9270 ;
	color:#FFEDDB ;
}

.contactme {
	text-align: center;
	width: 20%;
	position: relative;
	margin: auto;
}

.sosmed h1{
	text-align: center;
	color: rgb(101, 56, 22);
	margin-bottom: 10px;
}

.sosmed img{
	text-align: center;
	width: 40%;
}

.sosmed a{
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	border-radius: 10px;
	margin-top: 20px;
	padding: 5px 10px 5px 10px;
	background-color:#E3B7A0 ;
	color: rgb(151, 106, 72) ;
}

.sosmed a:hover {
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	border-radius: 10px;
	margin-top: 20px;
	padding: 5px 10px 5px 10px;
	background-color:#BF9270 ;
	color:#FFEDDB ;
}

.comment a{
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	border-radius: 15px;
	margin-top: 15px;
	padding: 10px 15px 10px 15px;
	background-color:#E3B7A0 ;
	color: rgb(151, 106, 72) ;
}

.comment a:hover {
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	border-radius: 15px;
	margin-top: 15px;
	padding: 10px 15px 10px 15px;
	background-color:#BF9270 ;
	color:#FFEDDB ;
}